.hangman > .letter {
    font-size: 2em;
    flex: 1 1 calc(100% / 6 - 0.4em);
    outline: 0.08em solid silver;
    margin: 0.2em;
    display: flex;
    cursor: default;
}

.hangman > .letter.hidden {
    background: silver;
}

.hangman > .letter.justMatched,
.hangman > .letter.justMismatched {
    outline: 0.1em solid green;
}
.hangman > .letter.justMismatched {
    outline-color: red;
}

.hangman > .letter.visible {
    cursor: not-allowed;
}

.hangman > .letter > .symbol {
    margin: auto;
}
